.conatinerr{
    width:100%;
    border:1px solid lightgray;
    padding:5px;
    border-top:none;
}
.container{
    border-top:1px solid lightgray;
    width:100%;
    display:inline-flex;
   
}

#feed{
    width:100%;
    display:inline-flex;
    padding:5px;
}
.feed{
    padding:6px;
    
}
.feed img{
    margin:0px 10px 5px 12px;
    padding:1px;
    border-radius:28px;
    
}
#imge{
    width:46px;
    height:50px;
    border-radius:30px;
}
.postImg{
    width:100%;
    height:290px;
    
}
.username{
    font-size:17px;
    font-weight: 700;
    padding-left:-20px;
    margin-top:-10px;
    
}
.feed p{
    margin:-25px 0 20px 70px;
}
.text{
    margin-top:-52px;
    margin-left:-9px;
}
.emaill{
    font-size:15px;
}
#tweet{
    padding-left:10px;
    
}
.postText{
    font-size:21px;
    font-family: Arial, Helvetica, sans-serif;
    padding:0px;
    margin-left:-5px;
    margin-top:30px;
}
.image{
    margin:-8px 1px 5px 32px;
}
 

.row span{
    font-size: 20px;
    margin-left:80px;
    
}
#comments:hover{
    color:red;
}
.heart{
    margin-top:-4px;
    width:25px;
    color:red;
}
.row .likes{
    padding:0;
    margin:0;
    font-size:16px;
    margin-left:2px;
    margin-top:-5px;
}
.row .comment{
    padding:0;
    margin:0;
    font-size:16px;
    margin-left:4px;
    margin-top:-5px;
}

@media screen and (max-width:760px) {
    .conatinerr{
        padding:2px 0px 0 0;
        border-top:none;
        width:100%;
        margin-right:0;
        padding-right:0;
    }
    .container{
        width:100%;
         border-top:none;
         margin-right:0;
        padding-right:0;
    }
    #feed{
        padding:1px 0.5px;
        margin-right:0;
        padding-right:0;
    }
    .feed{
        padding:2px 1px 1px 1px;
        border-bottom: none;
        margin-right:0;
        padding-right:0;
    }
        .feed img{
            margin:0px 0px 2px 8px;
            width:100%;
            height:100px;
            padding:1px;
            border-radius:20px;
            margin-right:0;
            padding-right:0;
            
        }
        .postProfile img{
            width:35px;
            height:35px;
            margin-left:1px;
        }
        .postImg{
            width:99.5%;
            height:140px;
            margin-left:0;
            padding-left:0;
            margin-right:0;
            padding-right:0;
        }
        .username{
            font-size:9.5px;
            padding-left:2px;
            margin-top:0px;
            
        }
        .feed p{
            margin:-22px 0 20px 40px;
            
        }
        .text{
            margin-top:-25px;
            margin-left:-15px;
        }
        .emaill{
            font-size:6.2px;
            padding-left:2px;
        }
        .emaill .time{
            font-size:4.8px;
        }
        #tweet{
            padding-left:5px;
            margin-bottom:-16px;
        }
        .image{
            margin:-15px 1px 0px 1px;
        }
         
        
        .row span{
            font-size: 11px;
            margin-left:15px;
            
            
        }
        .row:first-child{
            margin-left:12px;
        }
        .row{
            padding:0;
            margin-bottom:-8px;
            width:100%;
           
        }
        .profile{
            margin-top:-15px;
        }
        #imge{
            width:25px;
            height:25px;
        }
        .postText{
            font-size:12px;
            font-family: Arial, Helvetica, sans-serif;
            padding:0px;
            margin-left:-25px;
            margin-top:30px;
            margin-right:0;
            padding-right:0;
        }
        .heart{
            
            width:15px;
            margin-left:-5px;
            margin-top:-2px;
        }
        .row .likes{
            padding:0;
            margin:0;
            font-size:10px;
            margin-left:1px;
            
        }
        .row .comment{
            padding:0;
            margin:0;
            font-size:10px;
            margin-left:1px;
        }
        
        
       
    }

