.container {
  padding:0 ;
  overflow-y: hidden;
}




@media (max-width: 760px) {
  .container{
    overflow-x: hidden;
    margin-right:0;
    padding-right: 0;
  }
  #Sidebar{
    width:28%;
  }
  #Feeds{
    width:52%;
  }
  #Widget{
    width:20%;
    margin-right:0;
    padding-right: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
