.container{
    width:100%;
    max-width:max-content;
    margin:0;
    margin-left:0;
    padding:20px 100px;
    margin-left:1px;
    
    position: fixed;
}
.container:first-child p{
    margin:2px 85px 2px 0px;
    padding:8px 8px;
    border-radius: 20px;
    font-weight: 400;
    font-size:20px;
    color:black;
    width:100%;
    line-height:33px;
    
}
.container:first-child p:hover ,.container:first-child p:active{
    background-color: lightgray;
    
}
#home{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.logo{
   margin:20px 0 30px 5px;
   width:35px;
   height:35px;
}
#tweet{
    width:100%;
    margin:25px 0px;
    padding:5px -20px;
    border-radius: 20px;
    font-size:20px;
}
.imge{
    width:70px;
    height:70px;
    border-radius: 20px;
}
.username{
    font-size:20px;
    font-weight: 700;
    margin-left:76px;
    margin-top:-60px;
}
.prof{
    margin:2px 0 0 2px;
}

.prof h6{
    margin:-2px 0 20px 78px;
}
@media screen and (max-width:760px) {
    .container{
        margin:0;
        padding:10px 2px;
        margin-left:1px;
    }
    .container:first-child p{
        margin:2px 5px 2px 0px;
        padding:8px 0 8px 3px;
        font-weight: 400;
        font-size:11px;
        line-height:16px;
        width:99%;
    }
    #tweet{
        width:90%;
        margin:25px 5px 5px 12px;
        padding:5px -20px;
        border-radius: 20px;
        font-size:13px;
        background-color: #0d6efd;
        color:white;
    }
    .imge{
        width: 50px;
        height:40px;
        border-radius: 22px;
        margin-top:5px;
    }
    .username{
        font-size:11px;
        font-weight: 700;
        margin-left:1px;
        margin-top:10px;
       
    }
    .prof{
        margin:5px 0 0 2px;
        
    }
    .prof h6{
        margin:-5px 0 1px 1px;
        font-size:8.2px;
    }
    .logo{
        margin:20px 0 30px 5px;
        width:25px;
        height:25px;
     }
}
