.sign{
    margin:250px 550px;
    background-color: rgb(21, 24, 187);
    color:white;
    padding:8px 14px;
    border-radius: 12px;
    font-size:20px;
}
.sign:hover{
    background-color: rgb(10, 51, 236);
}