.container{
    width:100%;
    max-width:100%;
    margin-left:0;
    padding:5px 1px 5px 8px ;
    border-left: none;
    border-top:none;
}
.container h5{
    padding:2px 4px 6px 4px;
    border-bottom: 1px solid lightgray;
}
.post{
    margin-top:4px;
    height:140px;
    width:100%;
    margin-left:5px;
    max-width:100%;
    font-size:20px;
    font-weight: 450;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    border-bottom: 1px solid lightgray;
}
#tweet{
    padding-top:7px;  
     
}

#btn{
    float: right;
    margin-right: 28px;
    border-radius: 14px;
    padding:4px 16px;
    font-size:16px;
}
#emoji{
    
    font-size:20px;
    color:rgb(79, 163, 163);
}
#emoji:hover{
    color:blue;
}
#emoji:first-child{
    margin-left:20px;
}
#imge{
    width:46px;
    height:50px;
    border-radius:30px;
}
@media screen and (max-width:760px) {
    .container{
        width:100%;
        max-width:100%;
        margin-left:0;
        padding:2px 1px 5px 8px ;
        border-left: none;
        border-top:none;
    }
    .container h5{
        padding:4px 4px 6px 4px;
        border-bottom: 1px solid lightgray;
        font-size: 13.5px;
    }
    .post{
        margin-top:-28px;
        height:120px;
        width:90%;
        margin-left:20px;
        font-size:13.5px;
        font-weight: 450;
        padding-left:12px;
        
    }
    #imge{
        width:25px;
        height:25px;
    }
    #tweet{
    padding-top:5px;  
     
}

#btn{
    float: right;
    margin-right:-8px;
    border-radius: 14px;
    padding:1px 6px;
    margin-top:2px;
    font-size:11px;
}
#emoji{
    
    font-size:13px;
}

#emoji:first-child{
    margin-left:15px;
}
.emoji{
    margin-bottom:-10px;
    
}
}